<p>Pozdravljeni <%= @resource.email %>!</p>

<p>Vaš račun je bil zaklenjen zaradi prekoračitve neusprešnih prijav v aplikacijo.</p>

<p>Kliknite na spodnjo povezavo da ponovno ustvarite račun:</p>

<p><%= link_to 'Odkleni moj račun', unlock_url(@resource, unlock_token: @token) %></p>
