$navbar-default-bg: #321321;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color:white;
    text-decoration: none;
}

body {
    padding-top: 90px;
    background: url('/assets/background.jpg');
    font-family: 'Lato', sans-serif;
}

.nav_item {
    margin-left:25px;
    float: left;
    margin-top: 20px;
}

.nav_ul_item {
    padding-left:25px;
    float: left;
    margin-top: 20px;
}
.center {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
}

h1 {
    font-size: 3.5em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    font-weight:bold;
    text-align: center;
    font-family: 'Lora', serif;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #777;
    font-family: 'Lora', serif;
}

.left{
    text-align: left;
    letter-spacing: .5px;
}
.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.chef_info {
    margin-top: 10px;
    
}
.gravatar{
    box-shadow: 3px 3px 1px #111;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
}

input{
    height: auto !important;
}

.input_checkbox input{
    width: auto !important;
}
span.picture{
    margin-top:10px;
    input{
        border:0;
    }
    
}
.show_recipe{
    margin: 10px;
}
.well{
   
}
.jumbotron, .well, .container .jumbotron, .container-fluid .jumbotron{
    background-color: rgba(255,255,255,0.6);
    border-radius:0px;
}
.navbar-default .navbar-nav > li > a{
    margin-top:10px;
    color: #fff !important;
}
.recipe_author{
    font-size:20px;
    color: #fff;
}
.recipe_author span{
    text-transform:uppercase;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span{
    border-radius:0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a{
    border-radius:0px;
    font-weight:bold;
}
    
